<%- include('header'); -%>
<h1 class="title is-3">
  <%- t('knack') %>
</h1>
<h2 class="subtitle is-4">
  <%- t('also') %>
</h2>
<br>
<ul>
  <li>JavaScript</li>
  <li>Python</li>
  <li>SAML</li>
  <li>Redis</li>
</ul>
<%- include('footer'); -%>